COINGLASS_API_KEY=tu_api_key_coinglass

TELEGRAM_BOT_TOKEN=tu_token_telegram
TELEGRAM_CHAT_ID=-1002087543269
TELEGRAM_MESSAGE_THREAD_ID=topic_id

SYMBOL=BTC
RANGE=5m
THRESHOLD_USD=150000000
CHECK_EVERY_SECONDS=60
ALERT_COOLDOWN_MINUTES=10
MIN_TOTAL_VOLUME_USD=0

SEND_HEARTBEAT=false
HEARTBEAT_EVERY_MINUTES=240
RUN_ONCE=false
TIMEZONE=America/New_York
